        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".7s">Quiénes somos</h2>
                        <p class="wow animate__animated animate__fadeInDown text-white-50" data-wow-offset="15" data-wow-delay="1.5s">
                            Somos una empresa integral de servicios
                            inmobiliarios para el mercado del Real Estate
                            que brinda consultorías y diseño a nuestros
                            clientes. Nuestra Principal función es que su
                            inversión o proyecto sea de alta rentabilidad,
                            siempre manteniendo nuestros valores y
                            enfoque al cliente.
                            Ofrecemos servicios de asesoría integral,
                            consultoría financiera, remodelación,
                            desarrollos inmobiliarios, compraventa de
                            inmuebles, además de ofrecer un análisis de
                            viabilidad y proyección de incremento en la
                            plusvalía para una inversión más segura; así
                            como apoyo en gestión de créditos con
                            nuestros aliados comerciales.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
            </div>
        </section>