        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-9">
                        <h2 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".2s">Quiénes somos</h2>
                        <p class="wow animate__animated animate__fadeInUpBig animate__slow text-white-50" data-wow-delay=".3s">
                            Somos una empresa integral de servicios inmobiliarios para el sector de Real Estate 
                            que brinda consultoría y diseño arquitectónico a nuestros clientes.<br>
                            <br>
                            Nuestra principal función es que su inversión o proyecto sea de alta rentabilidad y calidad,
                            siempre manteniendo nuestros valores y enfoque al cliente.<br>
                            <br>
                            Ofrecemos servicios de asesoría integral, consultoría financiera, remodelación,
                            desarrollos inmobiliarios, compraventa de inmuebles, y
                            apoyo en gestión de créditos con nuestros aliados comerciales.
                        </p>                          
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/PROCAST BCO SIN FONDO.png" alt="..." width="200px" height="200px"/>
            </div>
        </section>