        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-9">
                        <h2 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".4s">Quiénes somos</h2>
                        <p class="wow animate__animated animate__fadeInUpBig animate__slow text-white-50" data-wow-delay=".7s">
                            Somos una empresa integral de servicios inmobiliarios para el sector de Real Estate <br>
                            que brinda consultoría y diseño arquitectonico a nuestros clientes.<br>
                            <br>
                            Nuestra Principal función es que su inversión o proyecto sea de alta rentabilidad y calidad,<br>
                            siempre manteniendo nuestros valores y enfoque al cliente.<br>
                            <br>
                            Ofrecemos servicios de asesoría integral, consultoría financiera, remodelación,<br>
                            desarrollos inmobiliarios y compraventa de inmuebles.<br>
                            <br>
                            Además ofrecemos análisis de viabilidad para que su inversión sea segura y,<br> 
                            apoyo en gestión de créditos con nuestros aliados comerciales.
                        </p>                          
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
            </div>
        </section>