        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Direccion</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Adolfo Manfredi # 19, Atizapán de Zaragoza, Estado de México</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="mailto:contacto@procast-re.com?Subject=Informacion%20sobre%20servicios%20de%20real%20estate">contacto@procast-re.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Teléfono</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="iconos text-black-50">
                                    <a class="mx-2" href="tel:+525544489278"><i class="fa fa-phone"></i></a>
                                    <a class="mx-2" href="https://wa.me/525544489278?text=Me%20interesa%20tener%20mas%20información%20sobre%20tus%20servicios%20de%20real%20estate" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.instagram.com/procastrealestate/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/ProcastRealEstate/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://mx.linkedin.com/in/israel-castelan" target="_blank"><i class="fab fa-linkedin"></i></a>
                    
                </div>
            </div>
        </section>