        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5">Copyright &copy; PROCAST - {{ getAnio }}</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="assets/js/scripts_grayscale.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="assets/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

        <script>
            (function($) {
                $( document ).scroll(function() {
                    if ( $(document).scrollTop() > 4) {
                        $( "#logo" ).attr('src', 'assets/img/logo_dorado6.svg');
                    } else {
                        $( "#logo" ).attr('src', 'assets/img/logo_verde.svg');
                    }  
                });
            })(jQuery);
        </script>


    </body>

</html>