        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5">Copyright &copy; PROCAST - {{ getAnio }}</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="assets/js/scripts_grayscale.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.js"></script>

        <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/viewer.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function () {
                var galleykh = document.getElementById('galley-kh');
                var viewerkh;

                $('#modal-kh').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewerkh = new Viewer(galleykh, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewerkh.destroy();
                    }
                });

                var galleykhi = document.getElementById('galley-kh-i');
                var viewerkhi;

                $('#modal-kh-i').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewerkhi = new Viewer(galleykhi, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewerkhi.destroy();
                    }
                });

///////////////////////////////////////////////////////////////////////////////////////////////////////
                var galleycl = document.getElementById('galley-cl');
                var viewercl;

                $('#modal-cl').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercl = new Viewer(galleycl, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercl.destroy();
                    }
                });

                var galleycli = document.getElementById('galley-cl-i');
                var viewercli;

                $('#modal-cl-i').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercli = new Viewer(galleycli, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercli.destroy();
                    }
                });

////////////////////////////////////////////////////////////////////////////////////////////////////

                var galleyaz = document.getElementById('galley-az');
                var vieweraz;

                $('#modal-az').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        vieweraz = new Viewer(galleyaz, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        vieweraz.destroy();
                    }
                });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                var galleygg = document.getElementById('galley-gg');
                var viewergg;

                $('#modal-gg').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewergg = new Viewer(galleygg, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewergg.destroy();
                    }
                });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////7777

                var galleyaf = document.getElementById('galley-af');
                var vieweraf;

                $('#modal-af').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        vieweraf = new Viewer(galleyaf, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        vieweraf.destroy();
                    }
                });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////7777

                var galleycss = document.getElementById('galley-css');
                var viewercss;

                $('#modal-css').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercss = new Viewer(galleycss, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewercss.destroy();
                    }
                });

                
            });
        </script>

        <script src="assets/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

    </body>

</html>