        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5">Copyright &copy; PROCAST - {{ getAnio }}</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="assets/js/scripts_grayscale.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.js"></script>

        <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/viewer.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function () {
                var galley = document.getElementById('galley');
                var viewer;

                $('#modal').on('shown.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `shown` event here.
                    if(e.namespace === 'bs.modal') {
                        viewer = new Viewer(galley, {
                            url: 'data-original',
                    });
                }
                }).on('hidden.bs.modal', function (e) {
                    // WARNING: should ignore Viewer's `hidden` event here.
                    if(e.namespace === 'bs.modal') {
                        viewer.destroy();
                    }
                });
            });
        </script>

        <script src="assets/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

    </body>

</html>