<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Procast · Real estate</title>
        <link rel="icon" type="image/x-icon" href="figura_logo_grande.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/styles_grayscale.css" rel="stylesheet" />
        <link href="assets/css/imagenes.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.css"/>

        <style>
            .pictures_galeria {
            list-style: none;
            margin: 0;
            max-width: 30rem;
            padding: 0;
            }

            .pictures_galeria > li {
            border: 1px solid transparent;
            float: left;
            height: calc(100% / 3);
            margin: 0 -1px -1px 0;
            overflow: hidden;
            width: calc(100% / 3);
            }

            .pictures_galeria > li > img {
            cursor: zoom-in;
            width: 100%;
            }
        </style>

        <!--  Meta datos  --> 
        <meta property="og:site_name" content="PROCAST"/>
        <meta property="og:title" content="Procast · Real estate"/>
        <meta property="og:image" content="assets/img/meta_logo.png"/>
        <meta property="og:url" content="http://procast-re.com"/>
        <meta property="og:description" content="Asesoría, Consultoría, Diseño de interiores, Remodelacion y Desarrollo Inmobiliario."/>

        <!-- Twitter metatags -->

        <meta name="twitter:card" content="Procast · Real estate">
        <meta name="twitter:site" content="@PROCAST">
        <meta name="twitter:creator" content="@PROCAST">
        <meta name="twitter:title" content="Procast · Real estate">
        <meta name="twitter:description" content="Asesoría, Consultoría, Diseño de interiores, Remodelacion y Desarrollo Inmobiliario.">
        <meta name="twitter:image:src" content="assets/img/meta_logo.png">
            
        
        
    </head>

    <body id="page-top">