        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    
                    <div class="col-xl-7 col-lg-7" data-wow-offset="15" data-wow-delay="1.5s">
                       
                        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/masthead.jpg" />
                            
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="wow animate__animated animate__pulse animate__slow dorado" data-wow-offset="15">Asesoría Inmobiliaria</h4>
                            <p class="wow animate__animated animate__fadeInUpBig animate__slow text-black-50 mb-0" data-wow-offset="15">
                                Analizamos junto con nuestros clientes<br> 
                                las mejores opciones con base a sus preferencias,<br> 
                                presupuestos y oportunidades, identificando<br> 
                                la mejor alternativa del mercado<br> 
                                para la compra o colocación de un inmueble.<br><br>
                                Fungimos como puente entre nuestros clientes <br>
                                y socios financieros para la obtención de un crédito o financiamiento.
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center ">
                    <div class="col-lg-6" data-wow-offset="15" data-wow-delay="1.5s">
                        
                        <img class="img-fluid" src="assets/img/demo1.jpg" />
                            
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="wow animate__animated animate__bounce animate__slow dorado" data-wow-offset="15">Remodelación <br> Diseño de interiores</h4>
                                    <p class="wow animate__animated animate__backInLeft animate__slow mb-0 text-white-50" data-wow-offset="15">
                                        Trabajamos para que tu hogar crezca,<br> 
                                        se adapte y mejore a tu medida.<br>
                                        Contamos con servicio de remodelación,<br>
                                        diseño de interiores y acabados especiales,<br>
                                        enfocados en buscar la mejor calidad y precio.<br>
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6" data-wow-offset="15" data-wow-delay="1.5s">
                        
                        <img class="img-fluid" src="assets/img/demo2.jpg" />
                            
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="wow animate__animated animate__bounce animate__slow dorado" data-wow-offset="15">Consultoría Inmobiliaria</h4>
                                    <p class="wow animate__animated animate__backInRight animate__slow mb-0 text-white-50" data-wow-offset="15">
                                        Búsqueda, gestión y acompañamiento<br> 
                                        para una inversión segura<br> 
                                        en un bien inmueble o desarrollo.<br><br>
                                        Brindamos a los clientes guía, seguimiento y <br>
                                        sobre todola confianza de que su inversión <br> 
                                        estará segura en nuestra empresa.
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Proyect three -->
                
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center" style="padding-top: 2rem;">
                    <div class="col-xl-8 col-lg-7" data-wow-offset="15" data-wow-delay="1.5s">
                        
                        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/demo3.jpg" />
                            
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="wow animate__animated animate__pulse animate__slow dorado" data-wow-offset="15">Desarrollo Inmobiliario</h4>
                            <p class="wow animate__animated animate__fadeInUpBig animate__slow text-black-50 mb-0" data-wow-offset="15">
                                Gestionamos y creamos proyectos,<br>
                                con márgenes anuales o por proyecto,<br> 
                                en construcciones verticales y horizontales.<br><br>
                                En Procast te ayudamos con:<br>
                                - Captación de fondos y desarrollo de <br>
                                proyectos. (previamente evaluados)<br>
                                - Gestión con entidades financieras.<br>
                                - Gestión de terrenos para emprendimientos.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>