        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Dejanos tus datos y nos pondremos en contacto!</h2>
                        <form class="form-signup d-flex flex-column flex-sm-row" action="/contacto" method="post">
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputName" name="name" type="text" placeholder="Nombre..."  />
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputEmail" name ="email" type="email" placeholder="Email..."  />
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputPhone" name ="phone" type="phone" placeholder="Teléfono..."  />
                            <button class="btn btn-primary" type="submit">Contactar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>