        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Déjanos tus datos y nos pondremos en contacto!</h2>
                        <!--form class="form-signup d-flex flex-column flex-sm-row" action="/contacto" method="post">
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputName" name="name" type="text" placeholder="Nombre..."  />
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputEmail" name ="email" type="email" placeholder="Email..."  />
                            <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputPhone" name ="phone" type="phone" placeholder="Teléfono..."  />
                            <button class="btn btn-primary" type="submit">Contactar</button>
                        </form-->

                        <form action="/contacto" method="post" id="test">
                            <div class="mb-3">
                                <label class="form-label text-white">Nombre</label>
                                <input type="text" class="form-control" id="inputName" name="name" placeholder=" Ingresa tu Nombre...">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">Email address</label>
                                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name ="email" placeholder=" Ingresa tu Email...">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">Numero telefónico</label>
                                <input type="phone" class="form-control" id="inputPhone" name ="phone" placeholder=" Ingresa tu Teléfono..."> 
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">Comentarios</label>
                                <textarea type="text" class="form-control" id="inputComents" name="comentarios" placeholder=" Compártenos tus cometarios..."></textarea>
                            </div>
                            <input type="hidden" name="coment" value="0">
                            <input type="hidden" name="desde" value="los servicios en general">
                            <button class="g-recaptcha" 
                                data-sitekey="6LeCiyEdAAAAAEMHM-OuwgSfDUaY4cnRY2Me5FAg" 
                                data-callback='onSubmit' 
                                data-action='submit'>Submit
                            </button>
                            <!--button type="submit" class="btn btn-primary">Contactar</button-->
                        </form>                        
                        
                    </div>
                </div>
            </div>
        </section>