        <section class="about-section text-center" id="galeria">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-12">
                        <h3 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".4s">En nuestro proceso entendemos la visión de 360 grados con arquitectos, estructurístas, financieros, constructores, diseñadores industriales y gráficos los cuales agregan valor y garantizan la ejecución de un proyecto integral.</h3>
                    </div>
                </div>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <a href="/foto_galeria">  
                                <div class="card shadow-sm">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA KH
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    ...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <div class="card shadow-sm">
                                <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                    <figcaption class="c4-fade-down c4-delay-400">
                                        CASA CL
                                    </figcaption>
                                </figure>
                                
                            </div>
                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <div class="card shadow-sm">
                                <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                    <figcaption class="c4-fade-down c4-delay-400">
                                        CASA AG
                                    </figcaption>
                                </figure>
                                
                            </div>
                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <div class="card shadow-sm">
                                <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                    <figcaption class="c4-fade-down c4-delay-400">
                                        CASA GG
                                    </figcaption>
                                </figure>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>