        <section class="about-section text-center" id="galeria">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-12">
                        <h3 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".4s">En nuestro proceso entendemos la visión de 360 grados con arquitectos, estructurístas, financieros, constructores, diseñadores industriales y gráficos los cuales agregan valor y garantizan la ejecución de un proyecto integral.</h3>
                    </div>
                </div>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                              
                            <div class="card shadow-sm">
                                <a data-target="#modal-kh" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA KH
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 280 m2<br>
                                        <b>Ubicación.</b> Toluca, Estado de México<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-kh" data-toggle="modal">Ver</button>
                                            <button type="button" class="btn btn-primary" data-target="#modal-kh-i" data-toggle="modal">Más info</button>
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2021</small>
                                    </div>
                                </div>
                            </div>
                            



                            <div class="modal fade" id="modal-kh" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA KH</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-kh">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-kh/1.jpg" src="assets/img/casa-kh/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-kh/2.jpg" src="assets/img/casa-kh/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-kh/3.jpg" src="assets/img/casa-kh/3.jpg" alt="Jokhang Temple"></li>
                                                    <li><img data-original="assets/img/casa-kh/4.jpg" src="assets/img/casa-kh/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-kh/5.jpg" src="assets/img/casa-kh/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/6.jpg" src="assets/img/casa-kh/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-kh/7.jpg" src="assets/img/casa-kh/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-kh/8.jpg" src="assets/img/casa-kh/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-kh/9.jpg" src="assets/img/casa-kh/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/10.jpg" src="assets/img/casa-kh/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/11.jpg" src="assets/img/casa-kh/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/12.jpg" src="assets/img/casa-kh/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="modal fade" id="modal-kh-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA KH</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-kh-i">
                                                <p class="text-black-50">
                                                    Situada en una exclusiva ex hacienda en la ciudad de Toluca, esta casa se ubica sobre un terreno plano y regular de 10×20 en una zona privilegiada; rodeada de áreas verdes y viejos árboles.
                                                    La casa se configura alrededor de pequeños patios internos. A la vez, estos patios proporcionan privacidad y transportan al usuario a un ambiente más introspectivo, creando una composición de espacios llenos y vacíos en planta y elevación.
                                                    El concepto de patios interiores lo podemos ver claramente con la integración de un jardín en el sótano, mismo que interactúa con el espacio del área social y que rompe con lo común de encontrar sótanos oscuros, húmedo y fríos. El espacio del sótano se caracteriza por la presencia de hormigón y la iluminación cenital, generando un ambiente más dramático en contraste con las entradas de luz natural.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <div class="card shadow-sm">
                                <a data-target="#modal-cl" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/cl-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA CL
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 1130 m2<br>
                                        <b>Ubicación.</b> Hacienda Cantalagua, Mich.<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-cl" data-toggle="modal">Ver</button>
                                            <button type="button" class="btn btn-primary" data-target="#modal-cl-i" data-toggle="modal">Más info</button>
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2020</small>
                                    </div>
                                </div>
                            </div>

                            

                            <div class="modal fade" id="modal-cl" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CL</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-cl">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-cl/1.jpg" src="assets/img/casa-cl/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-cl/2.jpg" src="assets/img/casa-cl/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-cl/3.jpg" src="assets/img/casa-cl/3.jpg" alt="Joclang Temple"></li>
                                                    <li><img data-original="assets/img/casa-cl/4.jpg" src="assets/img/casa-cl/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-cl/5.jpg" src="assets/img/casa-cl/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/6.jpg" src="assets/img/casa-cl/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-cl/7.jpg" src="assets/img/casa-cl/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-cl/8.jpg" src="assets/img/casa-cl/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-cl/9.jpg" src="assets/img/casa-cl/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/10.jpg" src="assets/img/casa-cl/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/11.jpg" src="assets/img/casa-cl/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/12.jpg" src="assets/img/casa-cl/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modal-cl-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CL</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-cl-i">
                                                <p class="text-black-50">
                                                    Situada en un exclusivo club de golf en Michoacán, esta casa se ubica sobre un terreno con un desnivel del frente a la parte posterior de 4 mts. en pendiente continua. Situacion que nos permitió dividir el área intima de la casa del nivel de calle hacia arriba y el área publica hacia abajo, logrando la casa de fin de semana perfecta para esta familia dentro de una zona privilegiada; rodeada de áreas verdes y viejos árboles, con hermosas vistas que enmarcamos a todo el campo de golf.
                                                    El reto: diseñar tres casas de fin de semana para los abuelos y sus dos hijos con familia, todos con diferentes gustos y requerimientos pero con un objetivo en común: compartir las áreas sociales de la casa como el bar o la alberca.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">

                            <div class="card shadow-sm">
                                <a data-target="#modal-az" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/az-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA AZ
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 324 m2<br>
                                        <b>Ubicación.</b> Hacienda Cantalagua, Mich.<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-az" data-toggle="modal">Ver</button>
                                            <!--button type="button" class="btn btn-primary" data-target="#modal-az-i" data-toggle="modal">Más info</button-->
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2020</small>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-az" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA AZ</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-az">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-az/1.jpg" src="assets/img/casa-az/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-az/2.jpg" src="assets/img/casa-az/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-az/3.jpg" src="assets/img/casa-az/3.jpg" alt="Joagang Temple"></li>
                                                    <li><img data-original="assets/img/casa-az/4.jpg" src="assets/img/casa-az/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-az/5.jpg" src="assets/img/casa-az/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-az/6.jpg" src="assets/img/casa-az/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-az/7.jpg" src="assets/img/casa-az/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-az/8.jpg" src="assets/img/casa-az/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-az/9.jpg" src="assets/img/casa-az/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-az/10.jpg" src="assets/img/casa-az/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-az/11.jpg" src="assets/img/casa-az/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-az/12.jpg" src="assets/img/casa-az/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--div class="modal fade" id="modal-az-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CL</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-az-i">
                                                <p class="text-black-50">
                                                    Situada en un exclusivo club de golf en Michoacán, esta casa se ubica sobre un terreno con un desnivel del frente a la parte posterior de 4 mts. en pendiente continua. Situacion que nos permitió dividir el área intima de la casa del nivel de calle hacia arriba y el área publica hacia abajo, logrando la casa de fin de semana perfecta para esta familia dentro de una zona privilegiada; rodeada de áreas verdes y viejos árboles, con hermosas vistas que enmarcamos a todo el campo de golf.
                                                    El reto: diseñar tres casas de fin de semana para los abuelos y sus dos hijos con familia, todos con diferentes gustos y requerimientos pero con un objetivo en común: compartir las áreas sociales de la casa como el bar o la alberca.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div-->


                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">

                            <div class="card shadow-sm">
                                <a data-target="#modal-gg" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/gg-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA GG
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 515 m2<br>
                                        <b>Ubicación.</b> Los Encinos, EDO. MEX<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-gg" data-toggle="modal">Ver</button>
                                            <!--button type="button" class="btn btn-primary" data-target="#modal-az-i" data-toggle="modal">Más info</button-->
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2020</small>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-gg" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA GG</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-gg">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-gg/1.jpg" src="assets/img/casa-gg/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-gg/2.jpg" src="assets/img/casa-gg/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-gg/3.jpg" src="assets/img/casa-gg/3.jpg" alt="Joggang Temple"></li>
                                                    <li><img data-original="assets/img/casa-gg/4.jpg" src="assets/img/casa-gg/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-gg/5.jpg" src="assets/img/casa-gg/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/6.jpg" src="assets/img/casa-gg/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-gg/7.jpg" src="assets/img/casa-gg/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-gg/8.jpg" src="assets/img/casa-gg/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-gg/9.jpg" src="assets/img/casa-gg/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/10.jpg" src="assets/img/casa-gg/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/11.jpg" src="assets/img/casa-gg/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/12.jpg" src="assets/img/casa-gg/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">

                            <div class="card shadow-sm">
                                <a data-target="#modal-af" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/af-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA AF
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 111 m2<br>
                                        <b>Ubicación.</b> Metepec, Estado de México<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-af" data-toggle="modal">Ver</button>
                                            <!--button type="button" class="btn btn-primary" data-target="#modal-az-i" data-toggle="modal">Más info</button-->
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2017</small>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-af" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA AF</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-af">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-af/1.jpg" src="assets/img/casa-af/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-af/2.jpg" src="assets/img/casa-af/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-af/3.jpg" src="assets/img/casa-af/3.jpg" alt="Joggang Temple"></li>
                                                    <li><img data-original="assets/img/casa-af/4.jpg" src="assets/img/casa-af/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-af/5.jpg" src="assets/img/casa-af/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-af/6.jpg" src="assets/img/casa-af/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-af/7.jpg" src="assets/img/casa-af/7.jpg" alt="Lhasa River"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">

                            <div class="card shadow-sm">
                                <a data-target="#modal-css" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/css-p.png" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA CSS
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 340 m2<br>
                                        <b>Ubicación.</b> Hacienda Cantalagua, Mich<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-css" data-toggle="modal">Ver</button>
                                            <!--button type="button" class="btn btn-primary" data-target="#modal-az-i" data-toggle="modal">Más info</button-->
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2021</small>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-css" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CSS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-css">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-css/1.png" src="assets/img/casa-css/1.png" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-css/2.png" src="assets/img/casa-css/2.png" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-css/3.png" src="assets/img/casa-css/3.png" alt="Joggang Temple"></li>
                                                    <li><img data-original="assets/img/casa-css/4.png" src="assets/img/casa-css/4.png" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-css/5.png" src="assets/img/casa-css/5.png" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-css/6.png" src="assets/img/casa-css/6.png" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-css/7.png" src="assets/img/casa-css/7.png" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-css/8.png" src="assets/img/casa-css/8.png" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-css/9.png" src="assets/img/casa-css/9.png" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-css/10.png" src="assets/img/casa-css/10.png" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-css/11.png" src="assets/img/casa-css/11.png" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-css/12.png" src="assets/img/casa-css/12.png" alt="Lhasa River"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            
        </section>