        <section class="about-section text-center" id="galeria">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-12">
                        <h3 class="wow animate__animated animate__flipInX text-white mb-4" data-wow-offset="15" data-wow-delay=".4s">En nuestro proceso entendemos la visión de 360 grados con arquitectos, estructurístas, financieros, constructores, diseñadores industriales y gráficos los cuales agregan valor y garantizan la ejecución de un proyecto integral.</h3>
                    </div>
                </div>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <a data-target="#modal-kh" data-toggle="modal">  
                                <div class="card shadow-sm">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA KH
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>



                            <div class="modal fade" id="modal-kh" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">Viewer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-kh">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-kh/1.jpg" src="assets/img/casa-kh/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-kh/2.jpg" src="assets/img/casa-kh/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-kh/3.jpg" src="assets/img/casa-kh/3.jpg" alt="Jokhang Temple"></li>
                                                    <li><img data-original="assets/img/casa-kh/4.jpg" src="assets/img/casa-kh/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-kh/5.jpg" src="assets/img/casa-kh/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/6.jpg" src="assets/img/casa-kh/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-kh/7.jpg" src="assets/img/casa-kh/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-kh/8.jpg" src="assets/img/casa-kh/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-kh/9.jpg" src="assets/img/casa-kh/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/10.jpg" src="assets/img/casa-kh/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/11.jpg" src="assets/img/casa-kh/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-kh/12.jpg" src="assets/img/casa-kh/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <a data-target="#modal-cl" data-toggle="modal">
                                <div class="card shadow-sm">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/cl-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA CL
                                        </figcaption>
                                    </figure>
                                    
                                </div>

                            </a>

                            <div class="modal fade" id="modal-cl" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">Viewer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-cl">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-cl/1.jpg" src="assets/img/casa-cl/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-cl/2.jpg" src="assets/img/casa-cl/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-cl/3.jpg" src="assets/img/casa-cl/3.jpg" alt="Joclang Temple"></li>
                                                    <li><img data-original="assets/img/casa-cl/4.jpg" src="assets/img/casa-cl/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-cl/5.jpg" src="assets/img/casa-cl/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/6.jpg" src="assets/img/casa-cl/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-cl/7.jpg" src="assets/img/casa-cl/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-cl/8.jpg" src="assets/img/casa-cl/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-cl/9.jpg" src="assets/img/casa-cl/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/10.jpg" src="assets/img/casa-cl/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/11.jpg" src="assets/img/casa-cl/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-cl/12.jpg" src="assets/img/casa-cl/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <a data-target="#modal-ag" data-toggle="modal">

                                <div class="card shadow-sm">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/kh-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA AG
                                        </figcaption>
                                    </figure>
                                    
                                </div>
                            </a>


                            <div class="modal fade" id="modal-ag" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">Viewer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-ag">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-ag/1.jpg" src="assets/img/casa-ag/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-ag/2.jpg" src="assets/img/casa-ag/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-ag/3.jpg" src="assets/img/casa-ag/3.jpg" alt="Joagang Temple"></li>
                                                    <li><img data-original="assets/img/casa-ag/4.jpg" src="assets/img/casa-ag/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-ag/5.jpg" src="assets/img/casa-ag/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-ag/6.jpg" src="assets/img/casa-ag/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-ag/7.jpg" src="assets/img/casa-ag/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-ag/8.jpg" src="assets/img/casa-ag/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-ag/9.jpg" src="assets/img/casa-ag/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-ag/10.jpg" src="assets/img/casa-ag/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-ag/11.jpg" src="assets/img/casa-ag/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-ag/12.jpg" src="assets/img/casa-ag/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <a data-target="#modal-gg" data-toggle="modal">

                                <div class="card shadow-sm">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/gg-p.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            CASA GG
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>


                            <div class="modal fade" id="modal-gg" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">Viewer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-gg">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-gg/1.jpg" src="assets/img/casa-gg/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-gg/2.jpg" src="assets/img/casa-gg/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-gg/3.jpg" src="assets/img/casa-gg/3.jpg" alt="Joggang Temple"></li>
                                                    <li><img data-original="assets/img/casa-gg/4.jpg" src="assets/img/casa-gg/4.jpg" alt="Potala Palace 1"></li>
                                                    <li><img data-original="assets/img/casa-gg/5.jpg" src="assets/img/casa-gg/5.jpg" alt="Potala Palace 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/6.jpg" src="assets/img/casa-gg/6.jpg" alt="Potala Palace 3"></li>
                                                    <li><img data-original="assets/img/casa-gg/7.jpg" src="assets/img/casa-gg/7.jpg" alt="Lhasa River"></li>
                                                    <li><img data-original="assets/img/casa-gg/8.jpg" src="assets/img/casa-gg/8.jpg" alt="Namtso 1"></li>
                                                    <li><img data-original="assets/img/casa-gg/9.jpg" src="assets/img/casa-gg/9.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/10.jpg" src="assets/img/casa-gg/10.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/11.jpg" src="assets/img/casa-gg/11.jpg" alt="Namtso 2"></li>
                                                    <li><img data-original="assets/img/casa-gg/12.jpg" src="assets/img/casa-gg/12.jpg" alt="Namtso 2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            
        </section>