        <header class="masthead_{{getHeader imageHeader}}">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase asdfg animate__animated animate__fadeInUp animate__slow">{{getHeader titulo}}</h1>
                        <div class="animate__animated animate__fadeIn animate__delay-2s">
                            
                            <h3 class="text-white-50 mx-auto mt-2 mb-5" style="font-family: 'Lobster Two', cursive;">{{getHeader descripcion}}</h3>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>