        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    
                    <div class="col-xl-6 col-lg-6" data-wow-offset="15" data-wow-delay="1.5s">
                       
                        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/mision.jpg" />
                            
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-lg-left">
                            <h4 class="wow animate__animated animate__pulse animate__slow dorado text-center" data-wow-offset="15">Misión</h4>
                            <p class="wow animate__animated animate__fadeInUpBig animate__slow text-black-50 mb-0" data-wow-offset="15">
                                <br>Brindar asesoría integral en el ramo inmobiliario
                                apoyando a los clientes con las mejores opciones
                                de inversión, siempre cuidando su patrimonio
                                e integridad financiera para que
                                consoliden sus ideas y concreten sus sueños.
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6" data-wow-offset="15" data-wow-delay="1.5s">
                        
                        <img class="img-fluid" src="assets/img/vision.jpg" />
                            
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-left">
                                    <h4 class="wow animate__animated animate__bounce animate__slow dorado text-center" data-wow-offset="15">Visión</h4>
                                    <p class="wow animate__animated animate__backInLeft animate__slow mb-0 text-white-50" data-wow-offset="15">
                                        <br>Consolidarnos como la consultora Real Estate
                                        por excelencia en México en los próximos 5
                                        años, conservando nuestra integridad y
                                        buscando la innovación y satisfacción del
                                        cliente.
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6" data-wow-offset="15" data-wow-delay="1.5s">
                        
                        <img class="img-fluid" src="assets/img/propiedades.jpg" />
                            
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-right">
                                    <h4 class="wow animate__animated animate__bounce animate__slow dorado text-center" data-wow-offset="15">Valores</h4>
                                    <p class="wow animate__animated animate__backInRight animate__slow mb-0 text-white-50" data-wow-offset="15">
                                        <br>• Responsabilidad<br>
                                        • Honestidad<br>
                                        • Lealtad<br>
                                        • Amabilidad
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>