        <section class="about-section text-center" id="galeria">
            <div class="album py-5">
                <div class="container">


                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                              
                            <div class="card shadow-sm">
                                <a data-target="#modal-ic" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/casa-ic/1.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            <div>CASA IC</div>
                                            <div>· EN DISEÑO ·</div>
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 250 m2<br>
                                        <b>Terreno.</b> 289 m2<br>
                                        <b>Ubicación.</b> Loma Esmeralda, EDO MX<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST-RE · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-ic" data-toggle="modal">Ver</button>
                                            <button type="button" class="btn btn-primary" data-target="#modal-ic-i" data-toggle="modal">Más info</button>
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2022</small>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-ic" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA IC</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-ic">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-ic/1.jpg" src="assets/img/casa-ic/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-ic/2.jpg" src="assets/img/casa-ic/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-ic/3.jpg" src="assets/img/casa-ic/3.jpg" alt="Joicang Temple"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modal-ic-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA IC</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-ic-i">
                                                <h3>Si estas interesado en este proyecto compártenos tus comentarios.</h3>

                                                <form action="/contacto" method="post" id="test">
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Nombre</label>
                                                        <input type="text" class="form-control" id="inputName" name="name" placeholder=" Ingresa tu Nombre...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Email address</label>
                                                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name ="email" placeholder=" Ingresa tu Email...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Número telefónico</label>
                                                        <input type="phone" class="form-control" id="inputPhone" name ="phone" placeholder=" Ingresa tu Teléfono..."> 
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Comentarios</label>
                                                        <textarea type="text" class="form-control" id="inputComents" name="comentarios" placeholder=" Compártenos tus cometarios..."></textarea>
                                                    </div>
                                                    <input type="hidden" name="coment" value="1">
                                                    <input type="hidden" name="desde" value="CASA IC - PROPIEDADES">
                                                    <button type="submit" class="btn btn-primary g-recaptcha"
                                                        data-sitekey= {{ getValue }}
                                                        data-callback='onSubmit' 
                                                        data-action='submit'>Contactar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <!--div class="modal fade" id="modal-ic-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA IC</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-ic-i">
                                                <p class="text-black-50">
                                                    Situada en una exclusiva ex hacienda en la ciudad de Toluca, esta casa se ubica sobre un terreno plano y regular de 10×20 en una zona privilegiada; rodeada de áreas verdes y viejos árboles.
                                                    La casa se configura alrededor de pequeños patios internos. A la vez, estos patios proporcionan privacidad y transportan al usuario a un ambiente más introspectivo, creando una composición de espacios llenos y vacíos en planta y elevación.
                                                    El concepto de patios interiores lo podemos ver claramente con la integración de un jardín en el sótano, mismo que interactúa con el espacio del área social y que rompe con lo común de encontrar sótanos oscuros, húmedo y fríos. El espacio del sótano se caracteriza por la presencia de hormigón y la iluminación cenital, generando un ambiente más dramático en contraste con las entradas de luz natural.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div-->


                        </div>
                    
                   
                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                              
                            <div class="card shadow-sm">
                                <a data-target="#modal-lm" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/casa-lm/1.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            <div>CASA LM</div>
                                            <div>· EN DISEÑO ·</div>
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 230 m2<br>
                                        <b>Terreno.</b> 220 m2<br>
                                        <b>Ubicación.</b> Loma Esmeralda, EDO MX<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST-RE · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-lm" data-toggle="modal">Ver</button>
                                            <button type="button" class="btn btn-primary" data-target="#modal-lm-i" data-toggle="modal">Más info</button>
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2022</small>
                                    </div>
                                </div>
                            </div>
                            



                            <div class="modal fade" id="modal-lm" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA LM</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-lm">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-lm/1.jpg" src="assets/img/casa-lm/1.jpg" alt="Cuo Na Lake"></li>
                                                    <li><img data-original="assets/img/casa-lm/2.jpg" src="assets/img/casa-lm/2.jpg" alt="Tibetan Plateau"></li>
                                                    <li><img data-original="assets/img/casa-lm/3.jpg" src="assets/img/casa-lm/3.jpg" alt="Jolmang Temple"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal fade" id="modal-lm-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA LM</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-lm-i">
                                                <h3>Si estas interesado en este proyecto compártenos tus comentarios.</h3>

                                                <form action="/contacto" method="post" id="test">
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Nombre</label>
                                                        <input type="text" class="form-control" id="inputName" name="name" placeholder=" Ingresa tu Nombre...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Email address</label>
                                                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name ="email" placeholder=" Ingresa tu Email...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Número telefónico</label>
                                                        <input type="phone" class="form-control" id="inputPhone" name ="phone" placeholder=" Ingresa tu Teléfono..."> 
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Comentarios</label>
                                                        <textarea type="text" class="form-control" id="inputComents" name="comentarios" placeholder=" Compártenos tus cometarios..."></textarea>
                                                    </div>
                                                    <input type="hidden" name="coment" value="1">
                                                    <input type="hidden" name="desde" value="CASA LM - PROPIEDADES">
                                                    <button type="submit" class="btn btn-primary g-recaptcha"
                                                        data-sitekey= {{ getValue }}
                                                        data-callback='onSubmit' 
                                                        data-action='submit'>Contactar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wow col animate__animated animate__fadeInUpBig animate__slow" data-wow-offset="15" data-wow-delay=".5s">
                            <div class="card shadow-sm">
                                <a data-target="#modal-clv" data-toggle="modal">
                                    <figure class="c4-izmir c4-border-corners-1 c4-image-zoom-in" style="cursor:pointer; cursor: hand">
                                        <img class="bd-placeholder-img card-img-top" src="assets/img/casa-clv/001.jpg" width="100%" height="225">
                                        <figcaption class="c4-fade-down c4-delay-400">
                                            <div>CASA CLV</div>
                                            <div>· EN DISEÑO ·</div>
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Área.</b> 250 m2<br>
                                        <b>Terreno.</b> 400 m2<br>
                                        <b>Ubicación.</b> Cantalagua Club de Golf.<br>
                                        <b>Arquitectura.</b> Juan Gerardo Chávez<br>
                                        <b>Comercialización.</b> <br>PROCAST-RE · REAL ESTATE <br> Israel Castelán
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-target="#modal-clv" data-toggle="modal">Ver</button>
                                            <button type="button" class="btn btn-primary" data-target="#modal-clv-i" data-toggle="modal">Más info</button>
                                        </div>
                                        <small class="text-muted"><b>Año.</b> 2022</small>
                                    </div>
                                </div>
                            </div>
                            



                            <div class="modal fade" id="modal-clv" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CLV</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-clv">
                                                <ul class="pictures_galeria">
                                                    <li><img data-original="assets/img/casa-clv/01.jpg" src="assets/img/casa-clv/01.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/02.jpg" src="assets/img/casa-clv/02.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/03.jpg" src="assets/img/casa-clv/03.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/04.jpg" src="assets/img/casa-clv/04.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/05.jpg" src="assets/img/casa-clv/05.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/06.jpg" src="assets/img/casa-clv/06.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/07.jpg" src="assets/img/casa-clv/07.jpg" alt=""></li>

                                                    <li><img data-original="assets/img/casa-clv/2.jpg" src="assets/img/casa-clv/2.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/3.jpg" src="assets/img/casa-clv/3.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/4.jpg" src="assets/img/casa-clv/4.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/5.jpg" src="assets/img/casa-clv/5.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/6.jpg" src="assets/img/casa-clv/6.jpg" alt=""></li>

                                                    <li><img data-original="assets/img/casa-clv/001.jpg" src="assets/img/casa-clv/001.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/002.jpg" src="assets/img/casa-clv/002.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/003.jpg" src="assets/img/casa-clv/003.jpg" alt=""></li>
                                                    <li><img data-original="assets/img/casa-clv/004.jpg" src="assets/img/casa-clv/004.jpg" alt=""></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal fade" id="modal-clv-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA CLV</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-clv-i">
                                                <h3>Si estas interesado en este proyecto compártenos tus comentarios.</h3>

                                                <form action="/contacto" method="post" id="test">
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Nombre</label>
                                                        <input type="text" class="form-control" id="inputName" name="name" placeholder=" Ingresa tu Nombre...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Email address</label>
                                                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name ="email" placeholder=" Ingresa tu Email...">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Número telefónico</label>
                                                        <input type="phone" class="form-control" id="inputPhone" name ="phone" placeholder=" Ingresa tu Teléfono..."> 
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label text-black">Comentarios</label>
                                                        <textarea type="text" class="form-control" id="inputComents" name="comentarios" placeholder=" Compártenos tus cometarios..."></textarea>
                                                    </div>
                                                    <input type="hidden" name="coment" value="1">
                                                    <input type="hidden" name="desde" value="CASA CLV - PROPIEDADES">
                                                    <button type="submit" class="btn btn-primary g-recaptcha"
                                                        data-sitekey= {{ getValue }}
                                                        data-callback='onSubmit' 
                                                        data-action='submit'>Contactar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>


                            <!--div class="modal fade" id="modal-lm-i" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">CASA LM</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="galley-lm-i">
                                                <p class="text-black-50">
                                                    Situada en una exclusiva ex hacienda en la ciudad de Toluca, esta casa se ubica sobre un terreno plano y regular de 10×20 en una zona privilegiada; rodeada de áreas verdes y viejos árboles.
                                                    La casa se configura alrededor de pequeños patios internos. A la vez, estos patios proporcionan privacidad y transportan al usuario a un ambiente más introspectivo, creando una composición de espacios llenos y vacíos en planta y elevación.
                                                    El concepto de patios interiores lo podemos ver claramente con la integración de un jardín en el sótano, mismo que interactúa con el espacio del área social y que rompe con lo común de encontrar sótanos oscuros, húmedo y fríos. El espacio del sótano se caracteriza por la presencia de hormigón y la iluminación cenital, generando un ambiente más dramático en contraste con las entradas de luz natural.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div-->


                    </div>


                </div>
            </div>
        </section>
